#board-container {
	display: grid;
	grid-template-columns: 50px 4fr 1fr 1fr 1fr;
	text-align:center;
}

.board-title {
	cursor: pointer;
}

.board-title:hover {
	text-decoration: underline 2px solid black;
}
#pagination {
	grid-column : 1 / 6;
}
.curr-page {
	color:red;
}